<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Eco</title>
  <link rel="icon" type="image/x-icon" href="/New Piskel.png">
  <link rel="stylesheet" href="./styles.css">
</head>

<body>
  <div class="container">

    <div id="theArticle">
      <h1>An Article</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi, sint perferendis deleniti at cumque totam optio
        amet omnis ullam dolor eligendi quisquam consequatur id sapiente facilis sunt! Expedita autem, ratione amet
        recusandae voluptate ducimus placeat.
      </p>
    </div>
    <div id="nav">
      <label for="user-name">Your Name </label>
      <input type="text" name="user-name" id="main-article-cmt-name">

      <label for="comment">Your comment</label>
      <input type="text" name="comment" id="main-article-cmt-cmt">

      <button id="enter">Enter</button>
    
    </div>
    <hr>
    <div id="comments-section">
    </div>
  </div>

  <script src="./script.js"></script>
</body>

</html>